.about-links > a:link{
	text-decoration: none;
}
.about-links > a:visited{
	text-decoration: none;
}
.about-links > b > a:link{
	text-decoration: none;
}
.post img{
	max-width: 100%; 
}
.caption{
	text-align: left;
}