<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>I am currently a first year Electrical Engineering Computer Science major at University of California Berkeley. I am interested in a variety of areas of computer science, including machine learning and autnomous driving. Check out my resume and github page.</p>
            <h2 class="post-subtitle">Links</h2>
            <p class = "about-links">
                <b><a href="resume">Resume</a></b></br>
                <b>Email: </b><a href = "mailto:philkuz@berkeley.edu">philkuz@berkeley.edu</a></br>
                <b>Github: </b><a href="http://www.github.com/philkuz">@philkuz</a>
            </p>
        </div>
    </div>
</div>
