<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>I am currently a senior at West High School in Salt Lake City. My interests lie predominantly in computer science, including computational biology and artificial intelligence. I'm currently an instructor at Mathnasium and working on several programming projects. Check out my resume and github page.</p>
            <h2 class="post-subtitle">Links</h2>
            <p class = "about-links">
                <b><a href="resume">Resume</a></b></br>
                <b>Email: </b><a href = "mailto:kuznetsovphillip@gmail.com">kuznetsovphillip@gmail.com</a></br>
                <b>Github: </b><a href="http://www.github.com/philkuz">github.com/philkuz</a>
            </p>
        </div>
    </div>
</div>
