    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container" data-ng-controller="SuperCtrl">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{title}}</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <a name="about"></a>
    <div class="content-b">
        <div class="container">
            <h2 class="section-header">About Me</h2>
            <hr/>
            <div class="row">

                <div class="col-lg-4 col-md-10">
                    <div class="img-circle">
                        <img src="img/profile.jpg">
                    </div>
                </div>
                <div class="col-lg-8 col-md-10">
                    <div class ="about-me-content">
                        <p>I am a first year Electrical Engineering Computer Science major at the University of California Berkeley. My current interests lie in machine learning and autonomous driving, but I also dabble somewhat in web app development. Check out my <a href="#projects">project section</a> as well as my <a href="resume" target="_self">resume</a> and <a href="http://github.com/philkuz">github</a> for more project information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Display -->
    <a name="projects"></a>
    <div class="content-a container" data-ng-controller="ProjectCtrl">
        <h2 class="section-header">Projects</h2>
        <hr/>
        <div class="row">
            <div class="col-lg-6" ng-repeat="project in projects">
                <div class="post-preview" back-img="{{project.thumb}}">
                    <div class="post-body">
                        <div class="project-title">
                            <a ng-href="{{project.link|projecturl}}">
                                <h2 class="post-title">
                                    {{project.title}}
                                </h2>
                            </a>
                        </div>
                        <div class="project-summary">
                            <p>{{project.summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
