.body{
	margin-top: 0px;
}
.about-links > a:link{
	text-decoration: none;
}
.about-links > a:visited{
	text-decoration: none;
}
.about-links > b > a:link{
	text-decoration: none;
}
.post img{
	max-width: 100%;
}
.caption{
	text-align: left;
}
.intro-header{
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
	padding: 50px 0 50px;
  	color: white;
}
@media only screen and (min-width: 768px)
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
	padding: 50px 0 50px;
}

.post-preview {
	height: 300px;
	position:relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
.post-body{

	padding-right:10px;
	padding-left:10px;
	width:100%;
	background-color: #efefef;
	opacity: 0.9;
	position: absolute;
	bottom: 0;
	left: 0;
	/*display:inline;*/
}
.project-title{
	margin-top:0;
	margin-bottom: 0;
}
.project-summary{
	display:none;
	-webkit-backface-visibility: hidden;
}
.section-header{
	font-size: 40px;
}
/*@media (min-width: 768px) {
}*/
